# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

todo.md

.kronus.dev.yaml

private_key_dev.pem

# Sqlite files in dev env
kronus-dev.db
kronus-dev.db-journal
kronus-dev.db-shm
kronus-dev.db-wal

# Dependency directories (remove the comment below to include it)
# vendor/
