# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

todo.md

.kronus.dev.yaml


# Sqlite files in dev env
dev/db/
dev/config/server.yml

# Dependency directories (remove the comment below to include it)
# vendor/
